@charset "UTF-8";



/* detailedItems 전체구역 */
.detailedItemsWrap{
	width: 1100px;
	margin: 0 auto;
	border: 1px solid #e8e8e8; 
	padding: 40px;
}
/* 이미지 출력구역 */
.outputImg{
	width: 700px;
	height: 500px;
	border: 1px solid black;
	margin: 0 auto;
}
.itemImg{
	width: 700px;
}
/* 케러셀 버튼의 색상을 블랙으로 지정 */
.carousel-control-prev-icon, .carousel-control-next-icon {
  background-color: black;
}

.carousel-indicators [data-bs-target]{
	background-color: black !important;
}
/* 캐러셀 전체구역을 outputImg 구역 기준으로 100% 설정하여 고정 */
#carouselExampleIndicators{
	height: 100% !important;
}




/* ============== 판매자 id / 등록일자 / 제목 출력구역 */
.basicInfoLeft{
	width: 1000px;
	border-top: 1px solid #e8e8e8;
	margin-top: 20px;
	padding-top: 20px;
}
.basicInfoRight{
	width: 1000px;
	border-bottom: 1px solid #e8e8e8;
	text-align: right;
}

/* 판매 제목 */
.outputTitle{
	width: 1000px;
	height: 100px;
	padding-top: 15px;
	border-bottom: 1px solid #e8e8e8;
}

/* -------- 내용 안내 구역 */

.buyerInfo{
	font-size: 18px;
	font-weight: bold;
}
.uploadDate{
	font-size: 15px;
}
.itemTitle{
	font-size: 22px;
	font-weight: bold;
}
	




/* ============== 판매자 id / 등록일자 출력구역 end */

/* ============== 판매기본정보 */
.mainInformation{
	width: 1000px;
	height: 400px;
	display: flex;
	border-bottom: 1px solid #e8e8e8;
	padding-top: 20px;
}

/* 좌측 판매 기본정보 출력 */
.mainInfoLeft{
	width: 500px; 
}
/* 우측 판매 기본정보 출력 */
.mainInfoRight{
	width: 500px;

}





/* -------- 거래방식, 판매가격, 안전결제 사용여부 */
.outputTradeMethod{
	width: 480px;
	height: 400px;
}


.tradeInfo{
	height: 80px;
}
.priceInfo{
	height: 80px;
}
.safePaymentInfo{
	height: 80px;
}


/* -------- 내용 안내 구역 */
.itemTrade{
	font-size: 17px; 
	font-weight: bold;
}
.itemPrice{
	font-size: 17px; 
	font-weight: bold;
}
.itemSafePayment{
	font-size: 17px; 
	font-weight: bold;
}
.cautionComment{
	font-size: 15px; 
	color: gray;
}


/* ============== 판매기본정보 end */


/* 판매내용 */
.outputContent{
	width: 1000px;
	height: 500px;
	border: 1px solid #e8e8e8;
	padding: 20px;
}



/* ============== 버튼 구역 */
.buttonField{
	width: 400px;
	height: 70px;
	margin: 0 auto;
	display: flex;
	margin-top: 30px;
}
.watchItemBtn{
	width: 200px;
	height: 70px;
}
.chatBtn{
	width: 200px;
	height: 70px;
}









