@charset "UTF-8";

*{padding: 0px; margin: 0px;
font-family: 'KCC-Ganpan';
box-sizing: border-box;
}

@font-face {
    font-family: 'KCC-Ganpan';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.0/KCC-Ganpan.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

.wrap{
	width: 350px;
	margin: 0 auto;
}

/* 검색창 */
.searchInput{
	width: 100%;
	height: 30px;
	margin: 10px 0;
	border-radius: 5px;
	padding-left: 10px;
}

.contentBox{
	padding: 10px;
    border: 1px solid #e8e8e8;
    border-radius: 20px;
    margin-bottom: 30px;
    width: 100%;
}

.imgBox{
	width: 330px;
	margin: 0 auto;
}
.writeImg{ 
	width: 330px;
	object-fit: cover;
	margin: 0 auto;
}
.writer{
	font-weight: bold;
	margin: 10px 0px;
	padding-left: 8px;
}
.writeDate{
	font-size: 11px;
	margin-bottom: 5px;
	padding-left: 10px;
	color: #5F5F5F;
}

/* 콘텐츠 버튼 */
.bottomBtn button{
	width: 50px;
	height: 24px;
	background-color: white;
	border-radius: 49%;
	border-color: yellow;
	cursor: pointer;
}

/* 수정, 삭제, 답글 버튼 호버효과 */
.bottomBtn button:hover{
	background-color: yellow;
	color: #654D9C;
}

.writeContent{
	word-break:break-all;	
	margin-bottom: 10px;
	padding-left: 8px;
}

.writeImg{
	width: 100%;
	height: 300px;
	object-fit: cover;
    border-radius: 20px;
}

/* 답글구역 */
.replyList{
	margin: 5px 0px;
	font-size: 13px;
	border-top: 1px solid #eeeeee;
}

.replyPrintBox{
	width: 100%;
	display: flex;
	justify-content: space-between;
}

/* 답글 출력구역 */
.outputReply{
	padding-left: 8px; 
}

/* 답글 삭제버튼 */
.rdeleteBtn{
	border: none;
	background-color: white;
	width: 20px;
	cursor: pointer;
}






























