@charset "UTF-8";

*{padding: 0px; margin: 0px;}

.wrap{
	width: 350px;
	margin: 0 auto;
}

.contentBox{
	padding: 10px;
    border: 1px solid #e8e8e8;
    border-radius: 20px;
    margin-bottom: 30px;
}

.writeImg{
	width: 100%;
	height: 300px;
	object-fit: cover;
    border-radius: 20px;
}





























