.webcontainer{
	border: 1px solid red;
}
.boardTop h3{
	text-align: center;
	font-weight: bold;
	color: purple;
}
.boardmid{
	display: flex;
	justify-content: space-between;
}
.boardBottom{
	display : flex;
	justify-content: center;
}
.search{
	margin : 25px 25px;
	display: flex;
	justify-content: center;
}
.boardcontent{
	display: flex;
	justify-content: center;
}
.boardTable th{
	padding: 15px 15px 15px 15px;
}