@charset "UTF-8";

.infoBox{
	margin-top: 20px;
}

/* 마이메뉴 내정보구역 */
.infoTop{
	padding: 10px;
	border: 1px solid #e8e8e8;
	width: 100%;
	margin-bottom: 20px;
}

/* 마이메뉴 텍스트 */
.infoTitletxt{
	font-size: 30px;
	font-weight: bold;
	margin-bottom: 20px;
	position: relative;
}

.infoTitletxt::after{
	content: '';
    width: 100%;
    height: 6px;
    background-color:#9767EB;
    display: inline-block;
    position: absolute;
    left: 0;
    bottom: -20px;
}

.infoContent{
	height: 100%;
	position: relative;
}

/* 아이디 */
.contentHeader{
	font-size: 25px;
	font-weight: bold;
	margin-bottom: 20px;
	margin-top: 30px;
	margin-left: 10px;
}

.contentHeader::before{
	content: '';
    width: 5px;
    height: 15px;
    background-color: #F58D6C;
    display: inline-block;
    margin-right: 10px;
}

.contentHeader span{
	font-size: 12px;
}

/* 내 정보 내용 박스 */
.infoDetail{
	margin-left: 10px;
}

/* 내 정보 내용 */
.contentMain{
	display: flex;
	justify-content: flex-start;
	margin-bottom: 40px;
	margin-left: 10px;
	font-size: 17px;
}

.contentMain span{
	color: #F58D6C;
}


/* 정보 로고들 */

.titleTop::before{
	content: "";
	display: inline-block;
  	background-image: url( "/Ezen_teamB/jsp/mymenu/img/logo1.png" );
  	background-size: 14px 14px;
  	width: 14px;
  	height: 14px;
  	margin-right: 5px;
}

.tradeTop::before{
	content: "";
	display: inline-block;
  	background-image: url( "/Ezen_teamB/jsp/mymenu/img/logo2.png" );
  	background-size: 14px 14px;
  	width: 14px;
  	height: 14px;
  	margin-right: 5px;
}

.saleTop::before{
	content: "";
	display: inline-block;
  	background-image: url( "/Ezen_teamB/jsp/mymenu/img/logo3.png" );
  	background-size: 14px 14px;
  	width: 14px;
  	height: 14px;
  	margin-right: 5px;
}

.pointTop::before{
	content: "";
	display: inline-block;
  	background-image: url( "/Ezen_teamB/jsp/mymenu/img/logo4.png" );
  	background-size: 14px 14px;
  	width: 14px;
  	height: 14px;
  	margin-right: 5px;
}

/* ---------------------------------------------------------------- */

/* 내 정보 내용 개별 구역 */
.contentMain div{
	margin-right: 20px;
}

/* 상세정보 내용 */
.name, .address, .email{
	margin-bottom: 10px;
}


/* 마이메뉴 서브메뉴 구역*/
.infoBottom{
}

/* 비활성화된 서브메뉴 */
.nav-link{
	color: #9e9e9e !important;
}

/* 활성화된 서브메뉴 */
.nav-link.active{
	color: black !important;
	font-weight: bold;
}


/* 해당메뉴 정보 출력 구역 */
.printContent{
	border-bottom: 1px solid #e8e8e8;
	border-left: 1px solid #e8e8e8;
	border-right: 1px solid #e8e8e8;
	height: 500px;
}

/* 상품정보 텍스트 */
.productCount{
	padding: 20px;
}

.cardInfo{
	padding: 10px;
}

/* 상품 하나구역 */
.table{
	padding: 10px;
}

.email{
	margin-bottom: 20px;
}

/* 내정보 수정 버튼 */
.updateBtn{
	font-size: 10px !important;
	position: absolute;
    top: 85px;
    right: 10px;
}

.nav-tabs{
	width: 100%;
	border-radius: 0;
}

/* 판매완료 텍스트 */
.saleComplete{
	color: black;
	background-color: #e8e8e8;
	text-align: center;
	font-size: 12px;
	margin-top: 3px;
}

/* 상품 숫자 텍스트 */
.countText{
	color: red;
}

/* 찜목록 삭제 버튼 */
.wdbtn{
	font-size: 12px !important;
}



/* ----------------- 모달창 ---------------------- */

.adressBox{
	display: flex;
	justify-content: space-between;
}

/* 우편번호 찾기 버튼 */
.adrbtn{
	height: 58px;
    margin-right: 20px;
}



















